@model BreakingNews.Application.ViewModels.PublicNewsViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}

<article>
    <section id="header">
        <h1>@Model.Title</h1>
        <p class="small">Publicado por @Model.Author em @Model.PublishDate.ToString("dd/MM/yyyy HH:mm")</p>
    </section>
    <section id="content">
        @Model.Content
    </section>
</article>