@model IQueryable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewBag.Title = "Usuários";
    Layout = "_Layout";
}

<h2>Usuários</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nome de Usuário</th>
        @*<th>Ações</th>*@
    </tr>
    </thead>
    <tbody>
    @if (Model.Any())
    {
        foreach (var news in Model)
        {
            <tr>
                <td>@news.Id</td>
                <td>@news.UserName</td>
                @*<td><a class="btn-sm btn-primary" href="@Url.Action("Edit", new {id = news.Id})">Editar</a> | <a class="btn-sm btn-danger" href="@Url.Action("Delete", new {id = news.Id})">Excluir</a></td>*@
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="2">Não há usuários para exibir.</td>
        </tr>
    }
    </tbody>
</table>